<div class="tweet">
    <div class="avatar">
        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/58/avatar-1295429_960_720.png" alt="">
    </div>
    <div class="text">
        <p class="identity" data-content="name">
            Jérôme Burkard
        </p>
        <br>
        <p data-content="message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo doloremque iusto alias possimus dolores veniam. Numquam iusto,
            maiores non omnis eum amet quos itaque, soluta molestias voluptatibus rem quidem mollitia!
        </p>
    </div>
</div>