<div class="tweet">
    <div class="avatar">
        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/58/avatar-1295429_960_720.png" alt="">
    </div>
    <div class="text">
        <p>
            <span class="identity" data-content="name">
                le nom n'a pas été chargé
            </span> - @jeromebu -
            <span data-content="date">
                la date n'a pas été chargée
            </span>
        </p>
        <br>
        <p data-content="message">
            le message n'a pas été chargé
        </p>
    </div>
</div>