$purple: #757ccd;

body {
	font-family: "Open Sans", sans-serif;
	background-color: #e7ecf0;
}

.container {
	width: 1024px;
	margin: 0 auto;
	padding: 20px 0;
}

header {
	color: $purple;
	padding: 20px 0;
	font-size: 20px;
	background-color: white;
	.container {
		padding: 0;
		display: flex;
		justify-content: space-between;
	}

	.twitter-logo {
		color: #46a1ec;
		font-size: 35px;
	}
	a {
		text-decoration: none;
		text-align: center;
		color: $purple;

		&:hover {
			border-bottom: 1px solid $purple;
		}

		&.tweeter {
			transition: 0.3s ease;
			color: white;
			padding: 15px;
			border: 1px solid $purple;
			border-radius: 25px;
			background-color: $purple;
			&:hover {
				background-color: white;
				color: $purple;
			}
		}
	}
}

.message-to-tweet {
	box-sizing: border-box;
	width: 100%;
	background-color: #eeeef8;
	margin: 10px 0;
	padding: 25px 15px;
	display: flex;
	.send-button {
		display: none;
	}
	form {
		padding: 20px;
		width: 100%;
		font-size: 24px;
		input {
			line-height: 36px;
			width: 100%;
		}
	}
}

#tweets {
	background-color: white;
}

.avatar {
	height: 100px;
	padding: 10px;
	flex: 0 0 100px;
}
.avatar img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}
.small {
	height: 60px;
	text-align: right;
}

.tweet {
	display: flex;
	border-bottom: 1px solid rgb(209, 209, 209);
	padding: 10px 0;
	.text {
		padding: 10px;
		.identity {
			font-weight: bolder;
		}
	}
}

.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.droite {
	float: right;
}

.oModal {
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.oModal:target {
	opacity: 1;
	pointer-events: auto;
}

.oModal:target > div {
	margin: 10% auto;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.oModal > div {
	max-width: 600px;
	position: relative;
	margin: 1% auto;
	padding: 8px 8px 8px 8px;
	border-radius: 5px;
	background: #eee;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.oModal > div header,
.oModal > div footer {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
.oModal .footer {
	border: none;
	border-top: 1px solid #e7e7e7;
	border-radius: 0 0 5px 5px;
}

.oModal > div h2 {
	margin: 0;
}

.oModal > div .btn {
	float: right;
}

.oModal > div section,
.oModal > div > header,
.oModal > div > footer {
	padding: 15px;
}
